.skill-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.skill-image {
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.skill-name {
  font-size: 18px;
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
}
