.jobs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.line {
  margin: 20px 0px 10px 10px;
}

.search-container-sub {
  display: flex;
  padding: 10px;
}

.search-input-cont-item {
  background-color: transparent;
  width: 250px;
  height: 25px;
  border-width: 1px;
  padding: 5px;
}

.search-image {
  background-color: #272727;
  width: 25px;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}
