.home-cont {
  color: white;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 120vh;
  width: 100vw;
  font-family: 'Roboto';
  overflow-x: auto;
  overflow-y: auto;
}
@media all and (max-width: 576px) {
  .home-cont {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    height: 150vh;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.home-cont-text {
  width: 500px;
  margin-left: 50px;
}

@media all and (max-width: 576px) {
  .home-cont-text {
    width: 300px;
  }
}

.home-heading {
  font-size: 60px;
}
@media all and (max-width: 576px) {
  .home-heading {
    font-size: 30px;
  }
}

.home-paragraph {
  font-size: 25px;
  font-weight: 300;
}
@media all and (max-width: 576px) {
  .home-paragraph {
    font-weight: 18px;
    font-weight: 100;
  }
}

.home-find-job-button {
  background-color: #6366f1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}
@media all and (max-width: 576px) {
  .home-find-job-button {
    background-color: #6366f1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
  }
}
