.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  padding-left: 25px;
  padding-right: 25px;
}

.website-logo-list {
  list-style-type: none;
}

.website-logo {
  width: 125px;
  height: 35px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link {
  font-family: 'Roboto';
  text-decoration: none;
  margin-left: 35px;
  margin-right: 35px;
  font-weight: 600;
  font-size: 18px;
  color: #d3dbe6;
}

.logout-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  margin-left: 14px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}
